#about{
  min-height: 100vh;
  background-image: url("../assests/bg_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#about-card-container{
  margin-top: 6rem;
}
#about-skill-container{
  margin-top: 6rem;
  margin-bottom: 4rem;
}
#left-side{
  background: $secondary;
  height: 100%;
}

#right-side{
  background: $bg-color;
  height: 100%;
}

#experience{
  background-color: $bg-color;
  color: #ffffff;
}

#university{
  background-color: $primary;
  color: #ffffff;
}

#things{
  background-color: $secondary;
  color: #ffffff;
}
#experience{
  box-shadow: 1px 1px 2px $secondary;
}
#university{
  box-shadow: 1px 1px 2px #ff0040;
}
#things{
  box-shadow: 1px 1px 2px #000000;
}


.slick-dots li button::before{
  color: white !important;
}

@media screen and (max-width: 1024px){

  #about-card-container{

  }

}

@media screen and (max-width: 850px){

 .center{
   width: 700px !important;
 }

  #experience,#things,#university{
    width: auto !important;
    margin-right: 10px;
  }

  #about{
    min-height: 80vh !important;
  }

  .slick-dots{
    bottom: -40px !important;
  }
}

@media screen and(max-width: 480px){

  .center{
    width: 450px !important;
  }
  
  .dnone{
    display: none !important;
  }

  #experience,#things,#university{
    width: auto !important;
  }
}